
.tablecontainer {
    border: 1px solid grey;
    box-shadow: 10px 10px 5px #aaaaaa;

}

tr {
    margin : 2px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.purchasecontainer {
    margin-top: 50px;
}