
.hero-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hero-name{
    justify-content: left;
    align-items: flex-start;
    color: white;
    text-align: left;
    padding-left: 2rem;
    font-weight: 500;
}


.hero-h1{
    justify-content: left;
    align-items: flex-start;
    color: white;
    text-align: left;
    padding-left: 2rem;
    padding-right: 1rem;
    font-weight: 600;
    font-size: 4rem;


}
.hero-h2{
    justify-content: left;
    align-items: flex-start;
    color: white;
    text-align: left;
    padding-left: 2.2rem;
    padding-right: 2rem;
    font-weight: 400;
    font-size: 1rem;




}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 40%;
    height: 40%;
    background: #9790E3;

}
.hero-image{
    
    height: 23rem;
    width: 32rem;
    border-radius: 2px;
    margin-top: 1rem;
    padding-right: 4rem;
    

}

.hero-text {
    background: #4a4396;
}

@media (max-width: 900px) {

    .hero-image{
    
        display: none;
    
    }
    .hero-text{
    
        width: 100%;
        place-items: center;
        text-align: center;
    
    }
    .hero-container {
        width: 100%;
        place-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
}