select{
    color: rgb(116, 84, 3);
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: .5rem;
}
h1{
    color: rgb(116, 84, 3);
    font-weight: 700;
    font-size: 1.75rem;

}
.button{
    background-color:rgb(194, 154, 102)
}
form{
    height: 18rem;
}
