.holdings_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.holdings_totals {
    text-align: start;
    margin-right: 2rem;
}

.stats_wrap span {
    margin-left: 0.25rem;
}
