.holdings_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.holdings_totals {
    text-align: start;
    margin-right: 2rem;
}

.stats_wrap span {
    margin-left: 0.25rem;
}

.net_label {
    font-size: 0.8em;
}

.net_total {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
    color: #02b293;
}
